# ignores macOS files
.DS_Store

# ignore python cache files (everywhere)
**/__pycache__/
*.py[cod]
*$py.class

# dataset for simplex validation
unit_tests/lp_instances/Netlib_compressed/
unit_tests/lp_instances/Netlib/
!unit_tests/lp_instances/Netlib/maros.mps